<!DOCTYPE html>
<html xml:lang="en-US" lang="en-US">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title> 404 NOT FOUND</title>
	<link rel="stylesheet" href="{{$.Fn.GetThemeStaticURL}}/css/style.css" type="text/css" media="screen" /> 
	<link rel="shortcut icon" type="image/png" href="{{$.Fn.GetThemeStaticURL}}/image/favicon.ico" />		
	<style type="text/css">
		h1 {
			font-size: 40px;
		}
		h2 {
			font-size: 30px;
			text-align: center;
		}
	</style>
</head>
<body>
	<div id="content">
		<div class="article">
			<div class="inner">
				<h1 class="title">Hey!</h1>
				<h2>{{.Vars.Message}}</h2>
				<p></p>
				<p>
				<a class="button" href="/">Bring me back to earth!</a>
				</p>
			</div>
		</div>
	</div>
<!-- Debug Info -->
<div style="display:none"> Cost Time: {{.ContextInfo.During}} microseconds </div>
</body>
</html>


