<!DOCTYPE html>
<html xml:lang="en-US" lang="en-US">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Writer</title>
		<link rel="stylesheet" href="{{$.Fn.GetSystemStaticURL}}/css/preview.css" type="text/css" media="screen" /> 
		<link rel="stylesheet" href="{{$.Fn.GetSystemStaticURL}}/css/writer_common.css" type="text/css" media="screen" /> 
		<link rel="stylesheet" href="{{$.Fn.GetSystemStaticURL}}/css/writer.css" type="text/css" media="screen" /> 
		<script type="text/javascript" src="{{$.Fn.GetSystemStaticURL}}/js/jquery.js"></script>
		<script type="text/javascript" src="{{$.Fn.GetSystemStaticURL}}/js/made.js"></script>
		<script type="text/javascript" src="{{$.Fn.GetSystemStaticURL}}/js/ace.js"></script>
		<script type="text/javascript" src="{{$.Fn.GetSystemStaticURL}}/js/mode-markdown.js"></script>
		<script type="text/javascript" src="{{$.Fn.GetSystemStaticURL}}/js/theme-twilight.js"></script>
		<script type="text/javascript" src="{{$.Fn.GetSystemStaticURL}}/js/theme-textmate.js"></script> 
		<script type="text/javascript" src="{{$.Fn.GetSystemStaticURL}}/js/Markdown.Converter.js"></script>
	</head>
	<body>
		<div id="bar">
			<h1 id="title">Tattoo</h1>
			<div id="control">
				<a href="{{.SiteConfig.SiteURL}}/writer" class="button" id="back_button">
					<span class="label">Back</span>
				</a>
				<a href="#" class="button" id="save_button">
					<span class="label">Save</span>
				</a>
				<div id="export_button_wrapper">
					<a href="#" class="button" id="export_button">
						<span class="label">Export ▾</span>
					</a>
					<ul class="menu" id="export_menu"> 
						<li>
						<a class="menuitem" href="#" id="export_source_button">Export Source</a>
						</li>
						<li>
						<a class="menuitem" href="#" id="export_html_button">Export HTML</a>
						</li>
						<li>
						<a class="menuitem" href="#" id="export_full_html_button">Export HTML(Full)</a>
						</li>
					</ul>
					<a href="#" class="button" id="import_button">
						<span class="label">Import</span>
					</a>
					<input type="file" id="import_file_button"/>
				</div>
			</div>
			<div id="color_scheme"><label>Color Scheme</label>
				<a href="dark" id="color_scheme_dark" class="selected"><span></span></a>
				<a href="light" id="color_scheme_light"><span></span></a>
			</div>
			<div id="meta_pane">
				<form method="POST" id="edit_form" name="edit_form" action="/writer/update">
					{{with .Vars.Article.Metadata}}
					<input name="orig_name" type="hidden" value="{{.Name}}"/>
					<table class="inner">
						<tr>
							<td class="label"><label>Title</label></td>
							<td><input id="title_box" name="title" class="entry" value="{{.Title}}"/></td>
							<td class="label"><label>URL</label></td>
							<td><input id="url_box" name="url" class="entry" value="{{.Name}}"/></td>
						</tr>
					</table>
					<details id="optional_meta_switch">
					<summary>Optional Content</summary>
					<table class="inner">
						<tr>
							<td class="label"><label>Featured Pic</label></td>
							<td><input id="featured_picture_box" name="fpic" class="entry" placeholder="URL of a featured Picture. e.g. http://abc.com/abc.png" value="{{.FeaturedPicURL}}"/></td>
							<td class="label"><label>Tags</label></td>
							<td><input id="tags_box" name="tags" placeholder="Separate by comma. e.g. Tag1, Tag2, Tag3" class="entry" value="{{.TagRawList}}"/></td>
						</tr>
						<tr>
							<td class="label"><label>Summary</label></td>
							<td>
								<textarea id="summary_box" name="sum" placeholder="Summary of your article">{{.Summary}}</textarea></td>
							<td class="label"><label for="">Is Page?</label></td>
							<td>
							{{if .IsPage}}
								<input type="checkbox" name="ispage" value="true" checked/>
							{{else}}
								<input type="checkbox" name="ispage" value="true"/>
							{{end}}
							</td>
						</tr>
					</table>
					</details>
					{{end}}
					<textarea id="text_box" name="text" style="display:none">{{ printf "%s" .Vars.Article.Text}}</textarea>
				</form>
			</div>

		</div>
		<div id="container">
			<div class="left_pane pane">
				<div id="input_pane" placeholder="type some markdown code or drag & drop a .md file here">
				</div>
			</div>
			<div id="preview_pane" class="pane right_pane">
				<div id="preview"></div>
			</div>
		</div>
	</body>
</html>


