html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
}
body {
    line-height: 1.5em;
    background: white;
}

#bar {
    height: 32px;
    border-bottom: 1px #ccc solid;
    background-color: #f2f2f2;
    box-shadow: 0 0 10px #222;
    position: relative;
    z-index: 99;
    font-family: arial,sans-serif;
}
#control {
    position: absolute;
    left: 180px;
    top: 2px;
    height: 26px;
    width: 600px;
}
#control .button {
    font-size: 12px;
    text-decoration: none;
    color: gray;
}
#color_scheme {
    position: absolute;
    right: 10px;
    top: 2px;
    height: 20px;
}
#color_scheme label {
    color: gray;
    font-size: 10px;
    vertical-align: middle;
}
#color_scheme > a {
    padding: 2px;
    display: inline-block;
    background-color: #778CB9;
    position: relative;
    vertical-align: middle;
}
#color_scheme > a > span{
    display: block;
    height: 10px;
    width: 10px;
}

#color_scheme_dark span {
    background-color: #232223;
}

#color_scheme_light span {
    background-color: #fff;
}

#color_scheme > a.selected:after {
    position: absolute;
    content: " ";
    border-width: 3px;
    border-color: transparent transparent #778CB9 transparent;
    border-style: solid;
    top: 12px;
    left: 3px;
}

#title {
    font-size: 18px;
    line-height: 32px;
    padding-left: 20px;
    color: #232223;
    font-weight: normal;
}

#title .desc {
    font-size: 12px;
    font-style: italic;
    color: gray;
}

#container {
    position: relative;
    overflow: hidden;
}
.pane{
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left: auto;
}
#input_pane {
    top: 90px;
    left:0;
    right: auto;
    border-right: 1px #ccc solid;
}
#meta_pane {
    top: 0;
    left:0;
    right: auto;
    height: 90px;
    border-right: 1px #ccc solid;
    color: #333;
    background-color: #e8e8e8;
}
#meta_pane .entry {
    width: 80%;
}
#meta_pane .label {
    width: 80px;
}
#meta_pane .inner {
    margin: 10px 0 10px 60px;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    height: 0px;
    display: block;
    background-color: transparent;
}
::-webkit-scrollbar-track-piece {
    background: #fff;
}
::-webkit-scrollbar-thumb {
    background: #fff;
}
::-webkit-scrollbar-thumb:vertical {
    border-right: 4px #6f6f6f solid;
    height: 50px;
}
::-webkit-scrollbar-thumb:horizontal {
    border-bottom: 4px #6f6f6f solid;
    width: 50px;
}
.dark::-webkit-scrollbar-track-piece {
    background: #141414;
}
.dark::-webkit-scrollbar-thumb {
    background: #141414;
}
::-webkit-scrollbar-thumb:hover {
    background: #6f6f6f;
    border:0;
}
#export_button_wrapper {
    position: relative;
    display: inline-block;
}
#export_menu {
    display: none;
    position: absolute;
    top: 24px;
    left: 0;
    width: 150px;
    background: white;
    list-style-type: none;
    padding: 0;
    border: 1px solid #ccc; 
    box-shadow: 1px 1px 10px #888;
}
#export_menu a {
    padding: 3px 5px 3px 20px;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    display: block;
    text-decoration: none;
    color: #333;
}
#export_menu a:hover {
    background-color: gray;
    color: white;
}

#import_file_button {
    position: absolute;
    z-index: 999;
    background-color: red;
    width: 80px;
    opacity: 0;
    right: 0;
    top: 0;
}
.entry {
    border: 1px #ccc solid;
    color: #333;
}
