{{define "ARTICLES"}}

{{$offset := .Vars.Offset}}
{{$siteURL := $.SiteConfig.SiteURL}}

<ul id="article_list">
	{{ range $index, $article := $.Fn.GetArticleTimeline $offset 3}}
	<li class="list_item">
	<div class="article">
		<div class="inner">
			{{with $article.Metadata}}
			<h2 class="article_title title"><a href="/{{.Name}}">{{.Title}}</a></h2>
			<div class="article_meta">
				<span>by</span>
				{{.Author}}
				<span>on</span>
				{{$ctime := .GetCreatedTime}}
				{{.GetShortMonth $ctime}} {{$ctime.Day}}, {{$ctime.Year}}
				<span>with</span>
				<a href="{{$siteURL}}/{{ $article.Metadata.Name}}#comments">{{$.Fn.GetArticleCommentCount .Name}} Comments</a>
			</div>
			{{end}}
			<div class="text">
				{{ $article.Text }}
			</div>
			<div class="article_meta">
				<span>tagged:</span>
				{{range $tagIndex, $tag := $.Fn.GetArticleTags $article.Metadata.Name}}
				<a class="tag" href="{{$siteURL}}/t/{{$tag}}">{{$tag}}</a>, 
				{{end}}
			</div>
		</div>
	</div>
	<div class="sep"></div>
	</li>
	{{else}}
	<li>
	<div>There are no items</div>
	<li>
	{{end}}
</ul>

{{end}}
