<!DOCTYPE html>
<html xml:lang="en-US" lang="en-US">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>
			{{if .Flags.Single}}
				{{$name := .Vars.Name}}
				{{$meta:= $.Fn.GetArticleMetadata $name}}
				{{$meta.Title}}
				|
			{{end}}
			{{.SiteConfig.SiteTitle | html}}
	</title>
	<link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{{$.Fn.GetThemeStaticURL}}/css/style.css" type="text/css" media="screen" /> 
	<link rel="shortcut icon" type="image/png" href="{{$.Fn.GetThemeStaticURL}}/image/favicon.ico" />    
	<link href="/feed/atom" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed" />    
	<script type="text/javascript" src="{{$.Fn.GetThemeStaticURL}}/js/jquery.js"></script>
	<script type="text/javascript" src="{{$.Fn.GetThemeStaticURL}}/js/main.js"></script>
</head>
<body>
{{template "HEADER" .}}
{{template "CONTENT" .}}
{{template "FOOTER" .}}
<!-- Navigation Utils -->
<a id="scroll_to_top" href="#" class="v_nav"></a>
{{ if not .Flags.Page }} 
	{{ if .Flags.Single}} 
		<!-- for single page -->
		{{ $cur_name := .Vars.Name }}
		{{ $prev_name := $.Fn.GetPrevArticleName $cur_name }}
		{{ $next_name := $.Fn.GetNextArticleName $cur_name }}
		<a id="prev" href="/{{$prev_name}}" hash="{{$cur_name}}" class="v_nav"
			{{ if $prev_name }} 
			style="display: block"
			{{ else }}
			style="display: none"
			{{ end }}
			>
			<span class="icon">Prev</span>
		</a>
		<a id="next" href="/{{$next_name}}" hash="{{$cur_name}}" class="v_nav"
			{{ if $next_name }} 
			style="display: block"
			{{ else }}
			style="display: none"
			{{ end }}
			>
			<span class="icon">Next</span>
		</a>
	{{ else }}
		<!-- for list page -->
		{{ $cur_offset := .Vars.Offset }}
		{{ if .Flags.Tag }}
			<!-- for tag page -->
			{{ $tag := .Vars.Tag }}
			<a id="prev" href="/tag/{{$tag}}?pos={{ $.Fn.GetPrevTagTLPos $tag $cur_offset 10}}" class="v_nav" hash="t/{{$tag}}?pos={{$cur_offset}}"
				{{ if .Vars.AtBegin }} 
				style="display: none"
				{{ else }}
				style="display: block"
				{{ end }}
				>
				<span class="icon">Prev</span>
			</a>
			<a id="next" href="/tag/{{$tag}}?pos={{ $.Fn.GetNextTagTLPos $tag $cur_offset 10}}" class="v_nav" hash="t/{{$tag}}?pos={{$cur_offset}}"
				{{ if .Vars.AtEnd }} 
				style="display: none"
				{{ else }}
				style="display: block"
				{{ end }}
				>
				<span class="icon">Next</span>
			</a>
		{{ else }}
		<!-- for articles page -->
		<a id="prev" href="/?pos={{ $.Fn.GetPrevTLPos $cur_offset 0}}" class="v_nav" hash="pos={{$cur_offset}}"
			{{ if .Vars.AtBegin }} 
			style="display: none"
			{{ else }}
			style="display: block"
			{{ end }}
			>
			<span class="icon">Prev</span>
		</a>
		<a id="next" href="/?pos={{ $.Fn.GetNextTLPos $cur_offset 0}}" class="v_nav" hash="pos={{$cur_offset}}"
			{{ if .Vars.AtEnd }} 
			style="display: none"
			{{ else }}
			style="display: block"
			{{ end }}
			>
			<span class="icon">Next</span>
		</a>
		{{ end }}
	{{ end }}
{{ end }}
<!-- Debug Info -->
<div style="display:none"> Cost Time: {{.ContextInfo.During}} microseconds </div>
</body>
</html>

