{{define "HEADER"}}
<div id="header">
	<div id="nav_wrapper">
		<div id="nav">
			<div class="inner">
				<h1 id="title"><a href="{{.SiteConfig.SiteURL}}">{{.SiteConfig.SiteTitle}}</a></h1>
				<div id="description" class="seal">{{.SiteConfig.SiteSubTitle}}</div>
				<ul class="right">
					<li><a href="/">Home</a></li>
					<li class="dot">&bull;</a>
					<li><a href="/t/tech">Tech</a></li>
					<li class="dot">&bull;</a>
					<li><a href="/t/english">English</a></li>
					<li class="dot">&bull;</a>
					<li><a href="/t/paint">Artworks</a></li>
					<li class="dot">&bull;</a>
					<li><a href="/t/linux">Linux</a></li>
					<li class="dot">&bull;</a>
					<li><a href="/guard">Login</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="header_inner">
		<div id="social">
			<a href="http://twitter.com/shellex" target="_blank" title="Follow Me @ Twitter"><img src="{{$.Fn.GetThemeStaticURL}}/image/ic16_twitter.png"></a>
			<a href="http://github.com/shellex" target="_blank" title="Fork Me @ Github"><img src="{{$.Fn.GetThemeStaticURL}}/image/ic16_github.png"></a>
			<a href="http://feeds.feedburner.com/shellex-cn" target="_blank" title="Subscribe My Blog"><img src="{{$.Fn.GetThemeStaticURL}}/image/ic16_rss.png"></a>
		</div>
		<ul id="recent_comments">
			{{range $index, $comm := $.Fn.GetCommentTimeline 0 10 }}
			<li>
				<a href="/{{$comm.Metadata.ArticleName}}/#comment_{{$comm.Metadata.Name}}" class="avatar recent_comment">
					{{if $comm.Metadata.EmailHash}}
					<img src="http://www.gravatar.com/avatar/{{$comm.Metadata.EmailHash}}?r=g&d=mm&s=32" onerror="javascript:this.src='{{$.Fn.GetThemeStaticURL}}/image/default_avatar.png'"/>
					{{else}}
					<img src="{{$.Fn.GetThemeStaticURL}}/image/default_avatar.png"/>
					{{end}}
				</a>
				<div class="bubble"><div class="bubble_text">{{$comm.Text}}</div></div>
			</li>
			{{end}}
		</ul>
		<div class="sep"></div>
	</div>
</div>
{{end}}
